$colors:(
    primary: #0a0f51,
    primary-light: lighten(#0a0f51, 40%),
    accent: #ffe
);

$desktop: 840px; 

@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}

#plusSign{
    margin: auto 10px;
    color: #f7f7f7;
    @include desktop{
        display: none;
    }
}

body{
    font-family: "Raleway";
    height: 100%;
    background-color: rgba(37, 124, 139, 0.685);
}

h1{
    display:none;

    @include desktop{
    color: white;
    background: #2980b9;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: normal;
    margin-bottom: 0;
    .fa-pencil-alt{
        float: right;
        }
    }
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

@include desktop{
    .navbar-brand{
        opacity: 0;
    }
    .navbar-nav{
        float: right;
        text-align: right;
        padding: 3px;
    }
}

#container{
        width: 100%;
        margin: 0 auto;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
        //border-radius: 15px;
        //background-color: map-get($colors ,primary-light);
        //z-index: -1;
        //padding: 15px auto;
        //border: 2px solid gray; 
        //position: sticky;

        .completed{
            color: #297fb95b;
            //color:rgba(146, 141, 141, 0.527);
            text-decoration: line-through;  
            .fa-check-circle{
                color: #2980b9;

            }
        }
        .fa-check-circle{
            color: #c9c7c75d;
        }

    span {
        background: #e74c3c;
        height: 40px;
        text-align: center;
        color: white;
        margin-right: 20px;
        width: 0;
       display: inline-block;
       opacity: 0;
       transition: 0.2s linear;
    }

    li{
        background: #fff;
        height: 40px;
        line-height: 40px;
        color: #666;
        &:nth-child(2n){
            background-color: #f7f7f7;
        }

        &:hover span{
            width: 40px;
            opacity: 1;
        }
    }
    @include desktop{
        width: 70%;
        margin: 75px auto;
    }

    .fa-check-circle{
        float: right;
        margin: 10px auto;
        margin-right: 10px;
    }
}

input{
    width: 100%;
    font-size: 18px;
    background-color: #ebebeb;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
    opacity: 1;
    display: inline-block;
    &:focus{
        background: #fff;
        border: 3px solid #2980b9;
        outline: none;
    }
    @include desktop{
        display: none;
    }
}