$colors:(
    primary: #0a0f51,
    primary-light: lighten(#0a0f51, 40%),
    accent: #ffe
);

$desktop: 840px;

@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}

body{
    font-family: "Raleway";
    height: 100%;
}

h1{
    color: white;
    background: #2980b9;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: normal;
    margin-bottom: 0;
    .fa-pencil-alt{
        float: right;
    }
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.completed{
    color: rgba(240, 231, 231, 0.527);
    text-decoration: line-through; 
}

#container{
        width: 100%;
        margin: 0 auto;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
        //border-radius: 15px;
        //background-color: map-get($colors ,primary-light);
        //z-index: -1;
        //padding: 15px auto;
        //border: 2px solid gray; 
        //position: sticky;

    span {
        background: #e74c3c;
        height: 40px;
        text-align: center;
        color: white;
        margin-right: 20px;
        width: 0;
       display: inline-block;
       opacity: 0;
       transition: 0.2s linear;
    }

    li{
        background: #fff;
        height: 40px;
        line-height: 40px;
        color: #666;
        &:nth-child(2n){
            background-color: #f7f7f7;
        }

        &:hover span{
            width: 40px;
            opacity: 1;
        }
    }
    @include desktop{
        width: 70%;
        margin: 75px auto;
    }
}

input{
    width: 100%;
    font-size: 18px;
    background-color: #f7f7f7;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    &:focus{
        background: #fff;
        border: 3px solid #2980b9;
        outline: none;
    }
}
